/* ez leszed minden felesleges bigyót */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  } /*inherit -> öröklődik mindenre amin nincs, amúgy leszed mindent
  */

  a{
    text-decoration: none;
  } /*alapértelmezetten szereti aláhúzni a böngésző, ezzel leszedjük */

  a img {
    border: none;
  } /*bordert is tesz automat, mi azt mondjuk, h ne */
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  } /*  */
  
  button,
  textarea,
  select {
    appearance: none !important; /* az appearance-t az !importanttal tudjuk leszedni */
    border-radius: 0;
  } /* itt is leszedünk mindent, amit alapból rátesz a böngésző */